div.mo-links section {
	float: left;
	margin-left: 30px;
}
div.mo-links a {
	display: block;
	height: 1.5em;
	font-size: 1.2em;
}

div.mo-phrases {
	float: left;
	margin-left: 30px;
}
div.mo-phrases span {
	display: block;
	height: 1.5em;
	font-size: 1.2em;
}